@{
    ViewBag.Title = "Contact";
}
<div class="img-responsive contactView">
    <h2 class="contactHeadingText">@ViewBag.Message</h2>
    <div id="facebookIcon" class="img-responsive facebookIcon">
    </div>
    <div id="twitterIcon" class="img-responsive twitterIcon">
    </div>
    <div id="instagramIcon" class="img-responsive instagramIcon">
    </div>
    <div class="embed-responsive col-lg-offset-4">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d184406.26925742155!2d-79.34260820125283!3d43.765635418143546!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1scoffee+shops+near+Eglinton+Station%2C+Toronto%2C+ON!5e0!3m2!1sen!2sca!4v1479691153722" width="400" height="400" frameborder="1" style="border:5px dotted black" allowfullscreen></iframe>
    </div>
    <br>
    <br>
    <br>
</div>
