@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="cafeSocietyText">Cafe Society</div>
    <div class="restaurantTextBody">
        Grab a coffee and a light snack that enlightens your evening
    </div>
</div>
