@{
    ViewBag.Title = "Home Page";
}
<div class="img-responsive indexView">
    <h2 class="cafeSocietyText">Cafe Society</h2>
    <h5 class="restaurantTextBody col-lg-pull-5">
        Grab a coffee and a light snack that enlightens your evening.
        <br>
        <br>
        <br>
        <br>
        <br>
    </h5>
</div>
